#jm-icon {
    position: absolute;
    max-width: 32px;
    max-height: 32px;
    left: 10px;
}
.jm-cont h1 {
    font-weight: normal
}
@media all and (min-width: 550px) {
    #jm-box h1 {
        font-size: 23px!important;
        height: 28px;
    }
    #jm-box p {
        font-size: 13px!important
    }
    .jm-cont {
        width: 65%
    }
}
@media all and (max-width: 550px) {
    #jm-box h1 {
        font-size: 18px!important;
        height: 31px;
        text-align: left;
    }
    #jm-box p {
        font-size: 12px!important
    }
    .jm-cont {
        width: auto;
        left: 0;
        right: 0;
    }
}
#jm-b {
    margin-top: 35px;
    float: right;
    font-size: 12px;
    right: 0;
}
#jm-blocker {
    z-index: 9998;
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
}
#jm-box {
    z-index: 9999;
    background-repeat: repeat;
    position: fixed!important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    color: #FFF;
    height: 200px;
    left: 0;
    margin-top: -100px;
    opacity: 0.95;
    position: absolute;
    right: 0;
    top: 50%;
    background: #d40001;
}
#jm-box h1 {
    left: 0;
    overflow: hidden;
    right: 0;
    margin: 10px;
    padding: 0 10px;
}
#jm-box p {
    font-size: 13px;
    height: 70px;
    left: 0;
    margin-top: -20px;
    overflow-y: auto;
    right: 0;
    padding: 5px;
    border-radius: 2px;
}
.jm-b {
    border: 1px solid rgba(255, 255, 255, .25);
    cursor: pointer;
    float: left;
    height: 14px;
    margin-right: 6px;
    text-align: center;
    width: 80px;
    padding: 8px 0!important;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.15);
}
.jm-b:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, .35);
}
.jm-b:active {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, .15);
}
.jm-cont {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
#jm-check-confirm {
    position: absolute;
    margin-left: 10px;
    bottom: 45px;
    padding: 3px;
}
#jm-close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(0, 0, 0, .15);
    padding: 8px 16px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .25);
}
#jm-close:hover {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .35);
}
#jm-close:active {
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .15);
}
#jm-box a {
    color: white
}